header{
    background-color: var(--color-black);
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    align-items: center;
    position: fixed;
    
}

.haeader-option{
    
    padding: 12px;
    border-color: var(--color-light-grey);
    border-radius: 3em;
    background-color: var(--color-light-grey);
    color: var(--color-white);
    margin: 0 5px;
}

