main{
    /* padding: var(--header-height) 0; */
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y:auto;
}

.box{
    max-width: calc(100% / 5);
    position: relative;
    margin-bottom: 15px;
}



div.img-container > img{
    width: 90%;
    transform: translateX(5%);
}

.audio{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    transform: translate(7%, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

/* lez */

.gallery{
    /* tolgo dalla topbar l'altezza degli altri elementi  */
    height: calc(100vh - 140px);
    padding: var(--header-height) 0;
}